<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="belarus" class="com.netcracker.students.BatyrkinAndrew.di.primsObjs.BelarusPlace" scope="prototype"/>
    <bean id="russia" class="com.netcracker.students.BatyrkinAndrew.di.primsObjs.RussiaPlace" scope="prototype"/>

    <bean id="batyrkin" class="com.netcracker.students.BatyrkinAndrew.di.primsObjs.si.Family" scope="prototype">
        <property name="familyName" value="Batyrkin"/>
        <property name="iPlace" ref="russia"/>
        <property name="numOfPeople"  value="4"/>
    </bean>

    <bean id="akimov" class="com.netcracker.students.BatyrkinAndrew.di.primsObjs.si.Family" scope="prototype">
        <property name="familyName" value="Akimov"/>
        <property name="iPlace" ref="russia"/>
        <property name="numOfPeople"  value="5"/>
    </bean>


</beans>