<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="author" class="com.netcracker.students.BatyrkinAndrew.SpEL.Author">
        <constructor-arg value="#{T(com.netcracker.students.BatyrkinAndrew.SpEL.SimplePersonConfig).firstName}"/>
        <constructor-arg value="#{T(com.netcracker.students.BatyrkinAndrew.SpEL.SimplePersonConfig).lastName}"/>
        <constructor-arg value="#{T(com.netcracker.students.BatyrkinAndrew.SpEL.SimplePersonConfig).age}"/>
    </bean>

</beans>